@font-face {
    font-family: Raleway-Medium;
    src: url(../fonts/Raleway-Medium.ttf);
}

@font-face {
    font-family: Raleway-Bold;
    src: url(../fonts/Raleway-Bold.ttf);
}

.db {
    display: block!important;
}

.dbf {
    display: flex!important;
}

.dnm {
    display: none!important;
}

.dn {
    display: none!important;
}

.dbn {
    display: none!important;
}

@media(max-width:992px) {
    .db {
        display: none!important;
    }
    .dbf {
        display: none!important;
    }
    .dnm {
        display: block!important;
    }
    .dn {
        display: none!important;
    }
    .dbn {
        display: block!important;
    }
}

@media(max-width:575px) {
    .db {
        display: none!important;
    }
    .dbf {
        display: none!important;
    }
    .dnm {
        display: none!important;
    }
    .dn {
        display: block!important;
    }
}


/*---------------------
W-100
--------------------*/

.w-23-100 {
    width: 180px!important;
}

@media(max-width:992px) {
    .w-23-100 {
        width: 200px!important;
    }
}

@media(max-width:500px) {
    .w-23-100 {
        width: 180px!important;
    }
}


/*---------------------
Fuentes variadas
--------------------*/

.font-titulo-boletos {
    font-family: Raleway-Bold;
    color: #f52f46;
    font-size: 4rem;
}

.font-titulo-legales {
    font-family: Raleway-Bold;
    color: #000;
    font-size: 4rem;
}

.font-titulo-lineup {
    font-family: Raleway-Bold;
    color: #ffbc00;
    font-size: 4rem;
}

.font-titulo-musica-gastro-activo {
    font-family: Raleway-Bold;
    color: #2fbadc;
    font-size: 1rem;
}

.font-titulo-musica-gastro-activo a:hover {
    font-family: Raleway-Bold;
    color: #fff;
    font-size: 1rem;
}

.font-titulo-musica-gastro-inactivo {
    font-family: Raleway-Bold;
    color: #fff;
    font-size: 1rem;
}

.font-titulo-musica-gastro-inactivo a:hover {
    font-family: Raleway-Bold;
    color: #2fbadc;
    font-size: 1rem;
}

@media(max-width:992px) {
    .font-titulo-boletos {
        font-size: 4rem;
    }
    .font-titulo-legales {
        font-size: 4rem;
    }
    .font-titulo-lineup {
        font-size: 4rem;
    }
    .font-titulo-musica-gastro-activo {
        font-size: 1rem;
    }
    .font-titulo-musica-gastro-inactivo {
        font-size: 1rem;
    }
    .font-titulo-musica-gastro-activo a:hover {
        font-size: 1rem;
    }
    .font-titulo-musica-gastro-inactivo a:hover {
        font-size: 1rem;
    }
}

@media(max-width:500px) {
    .font-titulo-boletos {
        font-size: 3rem;
    }
    .font-titulo-legales {
        font-size: 3rem;
    }
    .font-titulo-lineup {
        font-size: 3rem;
    }
    .font-titulo-musica-gastro-activo {
        font-size: 1rem;
    }
    .font-titulo-musica-gastro-inactivo {
        font-size: 1rem;
    }
    .font-titulo-musica-gastro-activo a:hover {
        font-size: 1rem;
    }
    .font-titulo-musica-gastro-inactivo a:hover {
        font-size: 1rem;
    }
}

@media(max-width:320px) {
    .font-titulo-boletos {
        font-size: 2.5rem;
    }
    .font-titulo-legales {
        font-size: 2.5rem;
    }
    .font-titulo-lineup {
        font-size: 2.5rem;
    }
    .font-titulo-musica-gastro-activo {
        font-size: 1rem;
    }
    .font-titulo-musica-gastro-inactivo {
        font-size: 1rem;
    }
    .font-titulo-musica-gastro-activo a:hover {
        font-size: 1rem;
    }
    .font-titulo-musica-gastro-inactivo a:hover {
        font-size: 1rem;
    }
}


/*---------------------
Header
--------------------*/

.bg-black {
    background-color: #000 !important;
}

.w-rs-10 {
    width: 8%;
}

.nav-link {
    display: block;
    padding: .5rem .2rem;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0rem;
    padding-bottom: 0;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-toggler {
    padding: 0rem .75rem 0rem .75rem;
    font-size: 1.5rem;
    line-height: 1;
    background-color: transparent;
    border: 0px solid transparent;
    border-radius: .25rem;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 2em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

.navbar-light .navbar-toggler-icon {
    background-image: url(http://cdn-festivales-remindgnp.s3.amazonaws.com/img/remind-gnp-2020-nav-bar-menu-hamburguesa-icon.svg);
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .5);
    border-color: transparent!important;
}

.background-color-mh {
    background-color: transparent !important;
}

.style-menu-hamburguesa {
    justify-content: center;
    display: grid;
    font-size: 1.5rem;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #fff;
    text-align: left;
    list-style: none;
    background-color: #000;
    background-clip: padding-box;
    border: 1px solid rgba(245, 244, 244, 0.35);
    border-radius: .25rem;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #fff;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-family: Raleway-Bold;
}

.dropdown-item:hover {
    font-family: Raleway-Bold;
}

@media(max-width:992px) {
    .background-color-mh {
        background-color: #2bbbe1!important;
        border-top: 10px solid #000;
    }
    .w-rs-10 {
        width: 15%;
    }
    .border-bottom-resp {
        border-bottom: 10px solid black;
    }
    .style-menu-hamburguesa {
        justify-content: center;
        display: grid;
        font-size: 2rem;
    }
}


/*---------------------
Footer
--------------------*/

.bg-footer {
    background: #026dae;
}

.text-avisos {
    color: #000;
    font-size: 8px;
    font-weight: 400;
    margin-top: 0!important;
    margin-bottom: 0rem!important;
    font-family: Raleway-Bold;
}

.text-avisos a {
    color: #000!important;
}

.text-avisos a:hover {
    color: #009344!important;
    text-decoration: none!important;
}

.btn-sm,
.btn-group-sm>.btn {
    padding: 0.1rem 0.2rem;
    font-size: 8px;
    border-radius: 0.2rem;
}

.pp-0 {
    padding: 0;
}

@media(max-width:420px) {
    .bg-footer {
        background: #026dae;
    }
    .text-avisos {
        font-size: 5px;
        margin-top: 0!important;
        margin-bottom: 0rem!important;
    }
    .btn-sm,
    .btn-group-sm>.btn {
        padding: 0.1rem 0.2rem;
        font-size: 5px;
        border-radius: 0.2rem;
    }
}


/*---------------------
Vista Home
--------------------*/

.jumbotron {
    padding: 3.1rem 1rem 4.5rem 1rem;
    margin-bottom: 0rem;
    background-color: #cbf0ff;
    border-radius: .3rem;
}

@media (min-width: 992px) {
    .jumbotron {
        padding: 3rem 0rem 6rem 0rem;
    }
}


/*---------------------
Vista Boletos
--------------------*/

.background-boletos {
    background-image: url(https://cdn-festivales-remindgnp.s3.amazonaws.com/img/remind-gnp-2020-background-boletos-full.png);
    background-attachment: initial;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.my-boletos {
    margin-bottom: 0rem !important;
}

.jumbotron-boletos {
    padding: 2rem 0rem;
    margin-bottom: 0rem;
    border: 0px solid #000;
}

.mb-boletos {
    margin-bottom: 7rem!important;
}

@media (min-width:992px) {
    .jumbotron-boletos {
        padding: 3rem 1rem;
        border: 0px solid #000;
    }
}

@media (max-width:992px) {
    .background-boletos {
        background-image: url(https://cdn-festivales-remindgnp.s3.amazonaws.com/img/remind-gnp-2020-background-boletos-full.png);
        background-attachment: initial;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .my-boletos {
        margin-bottom: 1rem !important;
    }
}

@media (max-width:575px) {
    .background-boletos {
        background-image: url(https://cdn-festivales-remindgnp.s3.amazonaws.com/img/remind-gnp-2020-background-boletos-resp.png);
        background-attachment: initial;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .my-boletos {
        margin-bottom: 1rem !important;
    }
}

.h-100vh {
    height: 100vh!important;
}

.text-color {
    color: #000;
    font-size: 0.7rem;
    background-color: #f79723;
    border-radius: .6rem;
    border: 4px solid #000;
    font-family: Raleway-Bold;
}

.jumbotron-b {
    padding: 7.4rem 0rem;
    margin-bottom: 0rem;
    background-color: #cbf0ff;
    border-radius: .3rem;
}

@media (max-width:1644px) {
    .jumbotron-b {
        padding: 9.4rem 0rem
    }
}

@media (max-width:576px) {
    .jumbotron-b {
        padding: 6rem 1rem
    }
}

.jumbotron-b-fluid {
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
}

.px-cargos {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}

.justify-content-cargos {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
}

@media (max-width:992px) {
    .text-color {
        font-size: 0.9rem;
    }
    .px-cargos {
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }
}

@media (max-width:576px) {
    .text-color {
        font-size: 0.6rem;
    }
    .px-cargos {
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }
    .justify-content-cargos {
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }
}


/*---------------------
Vista Musica
--------------------*/

.background-musica {
    background: #e92d43!important;
}

.jumbotron-musica {
    padding: 2rem 0rem;
    margin-bottom: 0rem;
    border: 0px solid #000;
}


/*---------------------
Vista Gastronomia
--------------------*/

.background-gastronomia {
    background: #009344!important;
}

.jumbotron-gastronomia {
    padding: 2rem 0rem;
    margin-bottom: 0rem;
    border: 0px solid #000;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, .125);
    border-radius: 0;
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: transparent;
    border-top: 0;
}

.card-title {
    margin-bottom: .75rem;
    font-family: Raleway-Bold;
    text-transform: uppercase;
}

.card-text:last-child {
    margin-bottom: 0;
    font-family: Raleway-Medium;
}

.col-sm-46 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width:576px) {
    .jumbotron-gastronomia {
        padding: 3rem 1rem;
        border: 0px solid #000;
    }
    .col-sm-46 {
        -ms-flex: 0 0 47.8%;
        flex: 0 0 47.8%;
        max-width: 47.6%;
    }
}


/*---------------------
Vista Legales Aviso y Términos
--------------------*/

.background-legales {
    background-image: url(https://cdn-festivales-remindgnp.s3.amazonaws.com/img/remind-gnp-2020-background-boletos-full.png);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-legales-aviso {
    background-image: url(https://cdn-festivales-remindgnp.s3.amazonaws.com/img/remind-gnp-2020-background-boletos-full.png);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width:992px) {
    .background-legales {
        background-image: url(https://cdn-festivales-remindgnp.s3.amazonaws.com/img/remind-gnp-2020-background-boletos-full.png);
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .background-legales-aviso {
        background-image: url(https://cdn-festivales-remindgnp.s3.amazonaws.com/img/remind-gnp-2020-background-boletos-full.png);
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (max-width:575px) {
    .background-legales {
        background-image: url(https://cdn-festivales-remindgnp.s3.amazonaws.com/img/remind-gnp-2020-background-boletos-gigante.png);
        background-attachment: fixed;
        background-position: top;
        background-repeat: no-repeat;
        background-size: auto;
    }
    .background-legales-aviso {
        background-image: url(https://cdn-festivales-remindgnp.s3.amazonaws.com/img/remind-gnp-2020-background-boletos-gigante-aviso.png);
        background-attachment: fixed;
        background-position: top;
        background-repeat: no-repeat;
        background-size: auto;
    }
}

.jumbotron-legales-container {
    padding: 4rem 1rem 10rem 1rem;
    margin-bottom: 0rem;
    background-color: #40aae0;
    border-radius: .3rem;
}

.jumbotron-legales-container-fluid {
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
}

.jumbotron-legales {
    padding: 2rem 2rem;
    margin-bottom: 0rem;
    background-color: #cbf0ff;
    border-radius: .3rem;
    border: 5px solid #000;
}

@media (min-width:992px) {
    .jumbotron-legales {
        padding: 3rem 3rem;
        border: 5px solid #000;
    }
    .jumbotron-legales-container {
        padding: 5rem 0rem 16rem 0rem;
    }
}

.jumbotron-legales-fluid {
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
}

.display-legales {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.fs-ul {
    font-size: 1.25rem;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

hr {
    border: 0;
    border-top: 1px solid #000!important;
    margin: 20px 0;
}

@media(max-width:992px) {
    .display-legales {
        font-size: 1.30rem;
        font-weight: 300;
        line-height: 1.2;
    }
    .fs-ul {
        font-size: 1.15rem;
    }
    .lead {
        font-size: 1.15rem;
        font-weight: 300;
    }
}

@media(max-width:600px) {
    .display-legales {
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.2;
    }
    .fs-ul {
        font-size: 0.7rem;
    }
    .lead {
        font-size: 0.7rem;
        font-weight: 300;
    }
}